In [1]:
import numpy as np
import pandas as pd
import cv2
import pytesseract
from glob import glob
import spacy
import re
import string
import warnings

warnings.filterwarnings('ignore')

In [2]:

def cleanText(txt):
    whitespaces = string.whitespace
    punctuation ="!#$%&\'“”()*+:;<=>?[\\]^`{|}~"
    tableWhitespace = str.maketrans('', '', whitespaces)
    tablePunctuation = str.maketrans('', '', punctuation)
    text = str(txt).lower()
    removeWhitespaces = text.translate(tableWhitespace)
    removePunctuation = removeWhitespaces.translate(tablePunctuation)
    
    return str(removePunctuation)

In [3]:
# Load NER model
model_ner = spacy.load('./output/model-best/')

In [4]:
# Load image
image = cv2.imread('./data/6.jpg')

# etraxt data
tessData = pytesseract.image_to_data(image)
tessData

'level\tpage_num\tblock_num\tpar_num\tline_num\tword_num\tleft\ttop\twidth\theight\tconf\ttext\n1\t1\t0\t0\t0\t0\t0\t0\t1065\t616\t-1\t\n2\t1\t1\t0\t0\t0\t3\t0\t1062\t5\t-1\t\n3\t1\t1\t1\t0\t0\t3\t0\t1062\t5\t-1\t\n4\t1\t1\t1\t1\t0\t3\t0\t1062\t5\t-1\t\n5\t1\t1\t1\t1\t1\t3\t0\t1062\t5\t95.000000\t \n2\t1\t2\t0\t0\t0\t47\t44\t8\t119\t-1\t\n3\t1\t2\t1\t0\t0\t47\t44\t8\t119\t-1\t\n4\t1\t2\t1\t1\t0\t47\t44\t8\t119\t-1\t\n5\t1\t2\t1\t1\t1\t47\t44\t8\t119\t95.000000\t \n2\t1\t3\t0\t0\t0\t46\t53\t979\t156\t-1\t\n3\t1\t3\t1\t0\t0\t722\t53\t303\t28\t-1\t\n4\t1\t3\t1\t1\t0\t722\t53\t303\t28\t-1\t\n5\t1\t3\t1\t1\t1\t722\t53\t64\t28\t90.167198\tCell\n5\t1\t3\t1\t1\t2\t802\t60\t5\t20\t90.167198\t:\n5\t1\t3\t1\t1\t3\t822\t53\t203\t28\t96.483879\t8099948528\n3\t1\t3\t2\t0\t0\t55\t55\t970\t112\t-1\t\n4\t1\t3\t2\t1\t0\t55\t55\t970\t89\t-1\t\n5\t1\t3\t2\t1\t1\t55\t55\t85\t89\t47.185547\t(Ga)\n5\t1\t3\t2\t1\t2\t822\t95\t203\t28\t96.435081\t8466045457\n4\t1\t3\t2\t2\t0\t593\t136\t432\t31\t-1\t\n5\t1\t3\t2\t2\t1\t593\t136\t93\t25\t89.289780\temail\n5\t1\t3\t2\t2\t2\t679\t132\t11\t40\t86.249245\t:\n5\t1\t3\t2\t2\t3\t709\t136\t316\t31\t86.249245\tlictsrikant@gmail.com\n3\t1\t3\t3\t0\t0\t46\t151\t979\t58\t-1\t\n4\t1\t3\t3\t1\t0\t46\t151\t979\t58\t-1\t\n5\t1\t3\t3\t1\t1\t46\t170\t33\t14\t96.406654\tLIFE\n5\t1\t3\t3\t1\t2\t85\t151\t92\t42\t95.806709\tINSURANCE\n5\t1\t3\t3\t1\t3\t183\t170\t117\t14\t96.909729\tCORPORATION\n5\t1\t3\t3\t1\t4\t306\t170\t20\t14\t96.172005\tOF\n5\t1\t3\t3\t1\t5\t332\t170\t42\t14\t96.796776\tINDIA\n5\t1\t3\t3\t1\t6\t668\t166\t119\t37\t92.970848\tseosrika\n5\t1\t3\t3\t1\t7\t791\t165\t162\t44\t91.918060\tntht@gmail\n5\t1\t3\t3\t1\t8\t958\t180\t67\t19\t7.601662\t“com\n2\t1\t4\t0\t0\t0\t310\t227\t445\t32\t-1\t\n3\t1\t4\t1\t0\t0\t310\t227\t445\t32\t-1\t\n4\t1\t4\t1\t1\t0\t310\t227\t445\t32\t-1\t\n5\t1\t4\t1\t1\t1\t310\t228\t232\t30\t92.664276\tTHATHINENI\n5\t1\t4\t1\t1\t2\t557\t227\t198\t32\t96.249886\tSRIKANTH\n2\t1\t5\t0\t0\t0\t328\t271\t409\t70\t-1\t\n3\t1\t5\t1\t0\t0\t328\t271\t409\t70\t-1\t\n4\t1\t5\t1\t1\t0\t399\t271\t270\t25\t-1\t\n5\t1\t5\t1\t1\t1\t399\t271\t147\t25\t96.546059\tInsurance\n5\t1\t5\t1\t1\t2\t555\t271\t114\t25\t96.382957\tAdvisor\n4\t1\t5\t1\t2\t0\t328\t310\t409\t31\t-1\t\n5\t1\t5\t1\t2\t1\t328\t310\t89\t31\t96.594261\tAgent\n5\t1\t5\t1\t2\t2\t428\t310\t80\t25\t96.651688\tCode\n5\t1\t5\t1\t2\t3\t521\t310\t48\t25\t92.426491\tNo.\n5\t1\t5\t1\t2\t4\t582\t310\t155\t25\t91.050606\t0316164Y\n2\t1\t6\t0\t0\t0\t44\t395\t925\t203\t-1\t\n3\t1\t6\t1\t0\t0\t47\t395\t835\t32\t-1\t\n4\t1\t6\t1\t1\t0\t47\t395\t835\t32\t-1\t\n5\t1\t6\t1\t1\t1\t47\t396\t83\t30\t96.843925\tLIFE\n5\t1\t6\t1\t1\t2\t145\t395\t236\t32\t96.428986\tINSURANCE\n5\t1\t6\t1\t1\t3\t395\t395\t296\t32\t96.263168\tCORPORATION\n5\t1\t6\t1\t1\t4\t706\t395\t53\t32\t95.340492\tOF\n5\t1\t6\t1\t1\t5\t775\t396\t107\t30\t95.340492\tINDIA\n3\t1\t6\t2\t0\t0\t45\t441\t658\t27\t-1\t\n4\t1\t6\t2\t1\t0\t45\t441\t658\t27\t-1\t\n5\t1\t6\t2\t1\t1\t45\t441\t36\t21\t96.699669\tBr.\n5\t1\t6\t2\t1\t2\t93\t441\t45\t22\t96.615921\tOff.\n5\t1\t6\t2\t1\t3\t149\t441\t42\t22\t96.824722\tLIC\n5\t1\t6\t2\t1\t4\t201\t441\t79\t25\t93.299294\tOffice,\n5\t1\t6\t2\t1\t5\t290\t441\t163\t27\t91.747375\tTrimulgherry,\n5\t1\t6\t2\t1\t6\t465\t441\t101\t22\t92.451996\tSec’bad\n5\t1\t6\t2\t1\t7\t576\t453\t8\t3\t91.897362\t-\n5\t1\t6\t2\t1\t8\t594\t441\t46\t21\t96.442276\t500\n5\t1\t6\t2\t1\t9\t650\t441\t53\t22\t95.835518\t016.\n3\t1\t6\t3\t0\t0\t44\t474\t925\t124\t-1\t\n4\t1\t6\t3\t1\t0\t44\t474\t504\t27\t-1\t\n5\t1\t6\t3\t1\t1\t44\t474\t62\t21\t93.283730\tAdd.\n5\t1\t6\t3\t1\t2\t118\t474\t144\t25\t92.916100\tBorabanda,\n5\t1\t6\t3\t1\t3\t275\t474\t136\t27\t93.280846\tHyderabad\n5\t1\t6\t3\t1\t4\t422\t486\t8\t3\t93.201012\t-\n5\t1\t6\t3\t1\t5\t440\t474\t45\t21\t96.027008\t500\n5\t1\t6\t3\t1\t6\t495\t474\t53\t21\t96.027008\t018.\n4\t1\t6\t3\t2\t0\t46\t506\t871\t27\t-1\t\n5\t1\t6\t3\t2\t1\t46\t506\t430\t27\t85.618164\tlictsrikant8099948528.blogspot.in,\n5\t1\t6\t3\t2\t2\t488\t506\t429\t27\t89.912384\tinterviewsinhyderabad.blogspot.in\n4\t1\t6\t3\t3\t0\t44\t539\t925\t25\t-1\t\n5\t1\t6\t3\t3\t1\t44\t539\t472\t25\t87.967415\tfacebook.com/lictsrikant8099948528,\n5\t1\t6\t3\t3\t2\t526\t539\t443\t22\t90.545654\tfacebook.com/thathineni.srikanth.9\n4\t1\t6\t3\t4\t0\t46\t571\t482\t27\t-1\t\n5\t1\t6\t3\t4\t1\t46\t571\t106\t21\t96.344551\tPromote\n5\t1\t6\t3\t4\t2\t161\t576\t56\t22\t95.835091\tyour\n5\t1\t6\t3\t4\t3\t226\t571\t111\t21\t96.409111\tbusiness\n5\t1\t6\t3\t4\t4\t347\t571\t74\t21\t93.162605\tonline\n5\t1\t6\t3\t4\t5\t432\t571\t96\t27\t92.261208\t(PYBO)\n2\t1\t7\t0\t0\t0\t1061\t0\t4\t613\t-1\t\n3\t1\t7\t1\t0\t0\t1061\t0\t4\t613\t-1\t\n4\t1\t7\t1\t1\t0\t1061\t0\t4\t613\t-1\t\n5\t1\t7\t1\t1\t1\t1061\t0\t4\t613\t95.000000\t \n2\t1\t8\t0\t0\t0\t0\t607\t1065\t9\t-1\t\n3\t1\t8\t1\t0\t0\t0\t607\t1065\t9\t-1\t\n4\t1\t8\t1\t1\t0\t0\t607\t1065\t9\t-1\t\n5\t1\t8\t1\t1\t1\t0\t607\t1065\t9\t95.000000\t \n'

In [5]:
#convert into DataFrame
tessList=list(map(lambda x:x.split('\t'), tessData.split('\n')))
df = pd.DataFrame(tessList[1:], columns=tessList[0])
df

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,1065,616,-1,
1,2,1,1,0,0,0,3,0,1062,5,-1,
2,3,1,1,1,0,0,3,0,1062,5,-1,
3,4,1,1,1,1,0,3,0,1062,5,-1,
4,5,1,1,1,1,1,3,0,1062,5,95.000000,
...,...,...,...,...,...,...,...,...,...,...,...,...
91,2,1,8,0,0,0,0,607,1065,9,-1,
92,3,1,8,1,0,0,0,607,1065,9,-1,
93,4,1,8,1,1,0,0,607,1065,9,-1,
94,5,1,8,1,1,1,0,607,1065,9,95.000000,
95,,None,None,None,None,None,None,None,None,None,None,None

In [6]:
#clean text
df.dropna(inplace=True)
df['text']=df['text'].apply(cleanText)
df

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,1065,616,-1,
1,2,1,1,0,0,0,3,0,1062,5,-1,
2,3,1,1,1,0,0,3,0,1062,5,-1,
3,4,1,1,1,1,0,3,0,1062,5,-1,
4,5,1,1,1,1,1,3,0,1062,5,95.000000,
...,...,...,...,...,...,...,...,...,...,...,...,...
90,5,1,7,1,1,1,1061,0,4,613,95.000000,
91,2,1,8,0,0,0,0,607,1065,9,-1,
92,3,1,8,1,0,0,0,607,1065,9,-1,
93,4,1,8,1,1,0,0,607,1065,9,-1,
94,5,1,8,1,1,1,0,607,1065,9,95.000000,

In [7]:
df_clean = df.query('text!="" ')
content = " ".join([w for w in df_clean['text']])
content

'cell 8099948528 ga 8466045457 email lictsrikant@gmail.com life insurance corporation of india seosrika ntht@gmail com thathineni srikanth insurance advisor agent code no. 0316164y life insurance corporation of india br. off. lic office, trimulgherry, sec’bad - 500 016. add. borabanda, hyderabad - 500 018. lictsrikant8099948528.blogspot.in, interviewsinhyderabad.blogspot.in facebook.com/lictsrikant8099948528, facebook.com/thathineni.srikanth.9 promote your business online pybo'

In [8]:
#get_prediction from NER model
doc = model_ner(content)
from spacy import displacy
displacy.render(doc, style='ent')

In [9]:
docjson=doc.to_json()
docjson

{'text': 'cell 8099948528 ga 8466045457 email lictsrikant@gmail.com life insurance corporation of india seosrika ntht@gmail com thathineni srikanth insurance advisor agent code no. 0316164y life insurance corporation of india br. off. lic office, trimulgherry, sec’bad - 500 016. add. borabanda, hyderabad - 500 018. lictsrikant8099948528.blogspot.in, interviewsinhyderabad.blogspot.in facebook.com/lictsrikant8099948528, facebook.com/thathineni.srikanth.9 promote your business online pybo',
 'ents': [{'start': 5, 'end': 15, 'label': 'B-PHONE'},
  {'start': 19, 'end': 29, 'label': 'B-PHONE'},
  {'start': 36, 'end': 57, 'label': 'B-EMAIL'},
  {'start': 58, 'end': 62, 'label': 'B-ORG'},
  {'start': 63, 'end': 72, 'label': 'I-ORG'},
  {'start': 73, 'end': 84, 'label': 'I-ORG'},
  {'start': 85, 'end': 87, 'label': 'I-ORG'},
  {'start': 88, 'end': 93, 'label': 'I-ORG'},
  {'start': 94, 'end': 102, 'label': 'B-EMAIL'},
  {'start': 103, 'end': 113, 'label': 'I-EMAIL'},
  {'start': 114, 'end': 117, 'label': 'I-EMAIL'},
  {'start': 118, 'end': 128, 'label': 'B-NAME'},
  {'start': 129, 'end': 137, 'label': 'I-NAME'},
  {'start': 138, 'end': 147, 'label': 'B-DES'},
  {'start': 148, 'end': 155, 'label': 'I-DES'},
  {'start': 180, 'end': 184, 'label': 'B-ORG'},
  {'start': 185, 'end': 194, 'label': 'I-ORG'},
  {'start': 195, 'end': 206, 'label': 'I-ORG'},
  {'start': 207, 'end': 209, 'label': 'I-ORG'},
  {'start': 210, 'end': 215, 'label': 'I-ORG'},
  {'start': 307, 'end': 341, 'label': 'I-EMAIL'},
  {'start': 342, 'end': 375, 'label': 'B-WEB'},
  {'start': 376, 'end': 446, 'label': 'B-WEB'}],
 'tokens': [{'id': 0, 'start': 0, 'end': 4},
  {'id': 1, 'start': 5, 'end': 15},
  {'id': 2, 'start': 16, 'end': 18},
  {'id': 3, 'start': 19, 'end': 29},
  {'id': 4, 'start': 30, 'end': 35},
  {'id': 5, 'start': 36, 'end': 57},
  {'id': 6, 'start': 58, 'end': 62},
  {'id': 7, 'start': 63, 'end': 72},
  {'id': 8, 'start': 73, 'end': 84},
  {'id': 9, 'start': 85, 'end': 87},
  {'id': 10, 'start': 88, 'end': 93},
  {'id': 11, 'start': 94, 'end': 102},
  {'id': 12, 'start': 103, 'end': 113},
  {'id': 13, 'start': 114, 'end': 117},
  {'id': 14, 'start': 118, 'end': 128},
  {'id': 15, 'start': 129, 'end': 137},
  {'id': 16, 'start': 138, 'end': 147},
  {'id': 17, 'start': 148, 'end': 155},
  {'id': 18, 'start': 156, 'end': 161},
  {'id': 19, 'start': 162, 'end': 166},
  {'id': 20, 'start': 167, 'end': 169},
  {'id': 21, 'start': 169, 'end': 170},
  {'id': 22, 'start': 171, 'end': 179},
  {'id': 23, 'start': 180, 'end': 184},
  {'id': 24, 'start': 185, 'end': 194},
  {'id': 25, 'start': 195, 'end': 206},
  {'id': 26, 'start': 207, 'end': 209},
  {'id': 27, 'start': 210, 'end': 215},
  {'id': 28, 'start': 216, 'end': 218},
  {'id': 29, 'start': 218, 'end': 219},
  {'id': 30, 'start': 220, 'end': 223},
  {'id': 31, 'start': 223, 'end': 224},
  {'id': 32, 'start': 225, 'end': 228},
  {'id': 33, 'start': 229, 'end': 235},
  {'id': 34, 'start': 235, 'end': 236},
  {'id': 35, 'start': 237, 'end': 249},
  {'id': 36, 'start': 249, 'end': 250},
  {'id': 37, 'start': 251, 'end': 258},
  {'id': 38, 'start': 259, 'end': 260},
  {'id': 39, 'start': 261, 'end': 264},
  {'id': 40, 'start': 265, 'end': 268},
  {'id': 41, 'start': 268, 'end': 269},
  {'id': 42, 'start': 270, 'end': 273},
  {'id': 43, 'start': 273, 'end': 274},
  {'id': 44, 'start': 275, 'end': 284},
  {'id': 45, 'start': 284, 'end': 285},
  {'id': 46, 'start': 286, 'end': 295},
  {'id': 47, 'start': 296, 'end': 297},
  {'id': 48, 'start': 298, 'end': 301},
  {'id': 49, 'start': 302, 'end': 305},
  {'id': 50, 'start': 305, 'end': 306},
  {'id': 51, 'start': 307, 'end': 340},
  {'id': 52, 'start': 340, 'end': 341},
  {'id': 53, 'start': 342, 'end': 375},
  {'id': 54, 'start': 376, 'end': 410},
  {'id': 55, 'start': 410, 'end': 411},
  {'id': 56, 'start': 412, 'end': 446},
  {'id': 57, 'start': 447, 'end': 454},
  {'id': 58, 'start': 455, 'end': 459},
  {'id': 59, 'start': 460, 'end': 468},
  {'id': 60, 'start': 469, 'end': 475},
  {'id': 61, 'start': 476, 'end': 480}]}

In [10]:
docjson.keys()

dict_keys(['text', 'ents', 'tokens'])

In [11]:
docjson['tokens']

[{'id': 0, 'start': 0, 'end': 4},
 {'id': 1, 'start': 5, 'end': 15},
 {'id': 2, 'start': 16, 'end': 18},
 {'id': 3, 'start': 19, 'end': 29},
 {'id': 4, 'start': 30, 'end': 35},
 {'id': 5, 'start': 36, 'end': 57},
 {'id': 6, 'start': 58, 'end': 62},
 {'id': 7, 'start': 63, 'end': 72},
 {'id': 8, 'start': 73, 'end': 84},
 {'id': 9, 'start': 85, 'end': 87},
 {'id': 10, 'start': 88, 'end': 93},
 {'id': 11, 'start': 94, 'end': 102},
 {'id': 12, 'start': 103, 'end': 113},
 {'id': 13, 'start': 114, 'end': 117},
 {'id': 14, 'start': 118, 'end': 128},
 {'id': 15, 'start': 129, 'end': 137},
 {'id': 16, 'start': 138, 'end': 147},
 {'id': 17, 'start': 148, 'end': 155},
 {'id': 18, 'start': 156, 'end': 161},
 {'id': 19, 'start': 162, 'end': 166},
 {'id': 20, 'start': 167, 'end': 169},
 {'id': 21, 'start': 169, 'end': 170},
 {'id': 22, 'start': 171, 'end': 179},
 {'id': 23, 'start': 180, 'end': 184},
 {'id': 24, 'start': 185, 'end': 194},
 {'id': 25, 'start': 195, 'end': 206},
 {'id': 26, 'start': 207, 'end': 209},
 {'id': 27, 'start': 210, 'end': 215},
 {'id': 28, 'start': 216, 'end': 218},
 {'id': 29, 'start': 218, 'end': 219},
 {'id': 30, 'start': 220, 'end': 223},
 {'id': 31, 'start': 223, 'end': 224},
 {'id': 32, 'start': 225, 'end': 228},
 {'id': 33, 'start': 229, 'end': 235},
 {'id': 34, 'start': 235, 'end': 236},
 {'id': 35, 'start': 237, 'end': 249},
 {'id': 36, 'start': 249, 'end': 250},
 {'id': 37, 'start': 251, 'end': 258},
 {'id': 38, 'start': 259, 'end': 260},
 {'id': 39, 'start': 261, 'end': 264},
 {'id': 40, 'start': 265, 'end': 268},
 {'id': 41, 'start': 268, 'end': 269},
 {'id': 42, 'start': 270, 'end': 273},
 {'id': 43, 'start': 273, 'end': 274},
 {'id': 44, 'start': 275, 'end': 284},
 {'id': 45, 'start': 284, 'end': 285},
 {'id': 46, 'start': 286, 'end': 295},
 {'id': 47, 'start': 296, 'end': 297},
 {'id': 48, 'start': 298, 'end': 301},
 {'id': 49, 'start': 302, 'end': 305},
 {'id': 50, 'start': 305, 'end': 306},
 {'id': 51, 'start': 307, 'end': 340},
 {'id': 52, 'start': 340, 'end': 341},
 {'id': 53, 'start': 342, 'end': 375},
 {'id': 54, 'start': 376, 'end': 410},
 {'id': 55, 'start': 410, 'end': 411},
 {'id': 56, 'start': 412, 'end': 446},
 {'id': 57, 'start': 447, 'end': 454},
 {'id': 58, 'start': 455, 'end': 459},
 {'id': 59, 'start': 460, 'end': 468},
 {'id': 60, 'start': 469, 'end': 475},
 {'id': 61, 'start': 476, 'end': 480}]

In [12]:
doc_text = docjson['text']
doc_text

'cell 8099948528 ga 8466045457 email lictsrikant@gmail.com life insurance corporation of india seosrika ntht@gmail com thathineni srikanth insurance advisor agent code no. 0316164y life insurance corporation of india br. off. lic office, trimulgherry, sec’bad - 500 016. add. borabanda, hyderabad - 500 018. lictsrikant8099948528.blogspot.in, interviewsinhyderabad.blogspot.in facebook.com/lictsrikant8099948528, facebook.com/thathineni.srikanth.9 promote your business online pybo'

In [13]:
dataframe_tokens = pd.DataFrame(docjson['tokens'])
dataframe_tokens

    id  start  end
0    0      0    4
1    1      5   15
2    2     16   18
3    3     19   29
4    4     30   35
..  ..    ...  ...
57  57    447  454
58  58    455  459
59  59    460  468
60  60    469  475
61  61    476  480

[62 rows x 3 columns]

In [14]:
dataframe_tokens['token']=dataframe_tokens[['start', 'end']].apply(lambda x:doc_text[x[0]:x[1]], axis=1)
dataframe_tokens.head(10)

   id  start  end                  token
0   0      0    4                   cell
1   1      5   15             8099948528
2   2     16   18                     ga
3   3     19   29             8466045457
4   4     30   35                  email
5   5     36   57  lictsrikant@gmail.com
6   6     58   62                   life
7   7     63   72              insurance
8   8     73   84            corporation
9   9     85   87                     of

In [15]:
doc_text[73:84]

'corporation'

In [16]:
# add new column about tagging info

In [17]:
right_table = pd.DataFrame(docjson['ents'])[['start', 'label']]
dataframe_tokens = pd.merge(dataframe_tokens, right_table, how='left', on='start')

In [18]:
dataframe_tokens=dataframe_tokens.fillna('O')
dataframe_tokens

    id  start  end       token    label
0    0      0    4        cell        O
1    1      5   15  8099948528  B-PHONE
2    2     16   18          ga        O
3    3     19   29  8466045457  B-PHONE
4    4     30   35       email        O
..  ..    ...  ...         ...      ...
57  57    447  454     promote        O
58  58    455  459        your        O
59  59    460  468    business        O
60  60    469  475      online        O
61  61    476  480        pybo        O

[62 rows x 5 columns]

In [19]:
#join label to df_clean dataframe
df_clean['end'] = df_clean['text'].apply(lambda x: len(x)+1).cumsum() - 1
df_clean['start'] = df_clean[['text', 'end']].apply(lambda x:x[1]-len(x[0]), axis=1)

In [20]:
df_clean

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start
12,5,1,3,1,1,1,722,53,64,28,90.167198,cell,4,0
14,5,1,3,1,1,3,822,53,203,28,96.483879,8099948528,15,5
17,5,1,3,2,1,1,55,55,85,89,47.185547,ga,18,16
18,5,1,3,2,1,2,822,95,203,28,96.435081,8466045457,29,19
20,5,1,3,2,2,1,593,136,93,25,89.289780,email,35,30
22,5,1,3,2,2,3,709,136,316,31,86.249245,lictsrikant@gmail.com,57,36
25,5,1,3,3,1,1,46,170,33,14,96.406654,life,62,58
26,5,1,3,3,1,2,85,151,92,42,95.806709,insurance,72,63
27,5,1,3,3,1,3,183,170,117,14,96.909729,corporation,84,73
28,5,1,3,3,1,4,306,170,20,14,96.172005,of,87,85
29,5,1,3,3,1,5,332,170,42,14,96.796776,india,93,88
30,5,1,3,3,1,6,668,166,119,37,92.970848,seosrika,102,94
31,5,1,3,3,1,7,791,165,162,44,91.918060,ntht@gmail,113,103
32,5,1,3,3,1,8,958,180,67,19,7.601662,com,117,114
36,5,1,4,1,1,1,310,228,232,30,92.664276,thathineni,128,118
37,5,1,4,1,1,2,557,227,198,32,96.249886,srikanth,137,129
41,5,1,5,1,1,1,399,271,147,25,96.546059,insurance,147,138
42,5,1,5,1,1,2,555,271,114,25,96.382957,advisor,155,148
44,5,1,5,1,2,1,328,310,89,31,96.594261,agent,161,156
45,5,1,5,1,2,2,428,310,80,25,96.651688,code,166,162
46,5,1,5,1,2,3,521,310,48,25,92.426491,no.,170,167
47,5,1,5,1,2,4,582,310,155,25,91.050606,0316164y,179,171
51,5,1,6,1,1,1,47,396,83,30,96.843925,life,184,180
52,5,1,6,1,1,2,145,395,236,32,96.428986,insurance,194,185
53,5,1,6,1,1,3,395,395,296,32,96.263168,corporation,206,195
54,5,1,6,1,1,4,706,395,53,32,95.340492,of,209,207
55,5,1,6,1,1,5,775,396,107,30,95.340492,india,215,210
58,5,1,6,2,1,1,45,441,36,21,96.699669,br.,219,216
59,5,1,6,2,1,2,93,441,45,22,96.615921,off.,224,220
60,5,1,6,2,1,3,149,441,42,22,96.824722,lic,228,225
61,5,1,6,2,1,4,201,441,79,25,93.299294,"office,",236,229
62,5,1,6,2,1,5,290,441,163,27,91.747375,"trimulgherry,",250,237
63,5,1,6,2,1,6,465,441,101,22,92.451996,sec’bad,258,251
64,5,1,6,2,1,7,576,453,8,3,91.897362,-,260,259
65,5,1,6,2,1,8,594,441,46,21,96.442276,500,264,261
66,5,1,6,2,1,9,650,441,53,22,95.835518,016.,269,265
69,5,1,6,3,1,1,44,474,62,21,93.283730,add.,274,270
70,5,1,6,3,1,2,118,474,144,25,92.916100,"borabanda,",285,275
71,5,1,6,3,1,3,275,474,136,27,93.280846,hyderabad,295,286
72,5,1,6,3,1,4,422,486,8,3,93.201012,-,297,296
73,5,1,6,3,1,5,440,474,45,21,96.027008,500,301,298
74,5,1,6,3,1,6,495,474,53,21,96.027008,018.,306,302
76,5,1,6,3,2,1,46,506,430,27,85.618164,"lictsrikant8099948528.blogspot.in,",341,307
77,5,1,6,3,2,2,488,506,429,27,89.912384,interviewsinhyderabad.blogspot.in,375,342
79,5,1,6,3,3,1,44,539,472,25,87.967415,"facebook.com/lictsrikant8099948528,",411,376
80,5,1,6,3,3,2,526,539,443,22,90.545654,facebook.com/thathineni.srikanth.9,446,412
82,5,1,6,3,4,1,46,571,106,21,96.344551,promote,454,447
83,5,1,6,3,4,2,161,576,56,22,95.835091,your,459,455
84,5,1,6,3,4,3,226,571,111,21,96.409111,business,468,460
85,5,1,6,3,4,4,347,571,74,21,93.162605,online,475,469
86,5,1,6,3,4,5,432,571,96,27,92.261208,pybo,480,476

In [21]:
#inner join with start 
dataframe_info = pd.merge(df_clean, dataframe_tokens[['start', 'token', 'label']], how='inner', on='start')

In [22]:
dataframe_info.tail(10)

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start,token,label
41,5,1,6,3,1,6,495,474,53,21,96.027008,018.,306,302,018,O
42,5,1,6,3,2,1,46,506,430,27,85.618164,"lictsrikant8099948528.blogspot.in,",341,307,lictsrikant8099948528.blogspot.in,I-EMAIL
43,5,1,6,3,2,2,488,506,429,27,89.912384,interviewsinhyderabad.blogspot.in,375,342,interviewsinhyderabad.blogspot.in,B-WEB
44,5,1,6,3,3,1,44,539,472,25,87.967415,"facebook.com/lictsrikant8099948528,",411,376,facebook.com/lictsrikant8099948528,B-WEB
45,5,1,6,3,3,2,526,539,443,22,90.545654,facebook.com/thathineni.srikanth.9,446,412,facebook.com/thathineni.srikanth.9,O
46,5,1,6,3,4,1,46,571,106,21,96.344551,promote,454,447,promote,O
47,5,1,6,3,4,2,161,576,56,22,95.835091,your,459,455,your,O
48,5,1,6,3,4,3,226,571,111,21,96.409111,business,468,460,business,O
49,5,1,6,3,4,4,347,571,74,21,93.162605,online,475,469,online,O
50,5,1,6,3,4,5,432,571,96,27,92.261208,pybo,480,476,pybo,O

In [23]:
# отметить все распознанные тэги на картинке для иллюстрации
bb_df = dataframe_info.query("label !='O' ")
img = image.copy()

for x,y,w,h, label in bb_df[['left', 'top', 'width', 'height', 'label']].values:
    x = int(x)
    y = int(y)
    w = int(w)
    h = int(h)
    
    cv2.rectangle(img,(x,y), (x+w, y+h), (0,255,0), 2)
    cv2.putText(img, str(label), (x,y), cv2.FONT_HERSHEY_PLAIN, 1, (0,0,255), 2)

cv2.imshow('Predictions', img)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [24]:
#Lesson 44. Combine the BIO information
bb_df['label'] = bb_df['label'].apply(lambda x: x[2:])
bb_df.head()

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start,token,label
1,5,1,3,1,1,3,822,53,203,28,96.483879,8099948528,15,5,8099948528,PHONE
3,5,1,3,2,1,2,822,95,203,28,96.435081,8466045457,29,19,8466045457,PHONE
5,5,1,3,2,2,3,709,136,316,31,86.249245,lictsrikant@gmail.com,57,36,lictsrikant@gmail.com,EMAIL
6,5,1,3,3,1,1,46,170,33,14,96.406654,life,62,58,life,ORG
7,5,1,3,3,1,2,85,151,92,42,95.806709,insurance,72,63,insurance,ORG

In [25]:
#group the labels
class GroupGen:
    
    def __init__(self):
        self.id = 0
        self.text = ''
    
    def get_group(self, text):
        if self.text == text:
            return self.id
        else:
            self.id+=1
            self.text = text
            return self.id

grp_gen = GroupGen()

In [26]:
bb_df['group'] = bb_df['label'].apply(grp_gen.get_group)

In [27]:
bb_df

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start,token,label,group
1,5,1,3,1,1,3,822,53,203,28,96.483879,8099948528,15,5,8099948528,PHONE,1
3,5,1,3,2,1,2,822,95,203,28,96.435081,8466045457,29,19,8466045457,PHONE,1
5,5,1,3,2,2,3,709,136,316,31,86.249245,lictsrikant@gmail.com,57,36,lictsrikant@gmail.com,EMAIL,2
6,5,1,3,3,1,1,46,170,33,14,96.406654,life,62,58,life,ORG,3
7,5,1,3,3,1,2,85,151,92,42,95.806709,insurance,72,63,insurance,ORG,3
8,5,1,3,3,1,3,183,170,117,14,96.909729,corporation,84,73,corporation,ORG,3
9,5,1,3,3,1,4,306,170,20,14,96.172005,of,87,85,of,ORG,3
10,5,1,3,3,1,5,332,170,42,14,96.796776,india,93,88,india,ORG,3
11,5,1,3,3,1,6,668,166,119,37,92.970848,seosrika,102,94,seosrika,EMAIL,4
12,5,1,3,3,1,7,791,165,162,44,91.918060,ntht@gmail,113,103,ntht@gmail,EMAIL,4
13,5,1,3,3,1,8,958,180,67,19,7.601662,com,117,114,com,EMAIL,4
14,5,1,4,1,1,1,310,228,232,30,92.664276,thathineni,128,118,thathineni,NAME,5
15,5,1,4,1,1,2,557,227,198,32,96.249886,srikanth,137,129,srikanth,NAME,5
16,5,1,5,1,1,1,399,271,147,25,96.546059,insurance,147,138,insurance,DES,6
17,5,1,5,1,1,2,555,271,114,25,96.382957,advisor,155,148,advisor,DES,6
22,5,1,6,1,1,1,47,396,83,30,96.843925,life,184,180,life,ORG,7
23,5,1,6,1,1,2,145,395,236,32,96.428986,insurance,194,185,insurance,ORG,7
24,5,1,6,1,1,3,395,395,296,32,96.263168,corporation,206,195,corporation,ORG,7
25,5,1,6,1,1,4,706,395,53,32,95.340492,of,209,207,of,ORG,7
26,5,1,6,1,1,5,775,396,107,30,95.340492,india,215,210,india,ORG,7
42,5,1,6,3,2,1,46,506,430,27,85.618164,"lictsrikant8099948528.blogspot.in,",341,307,lictsrikant8099948528.blogspot.in,EMAIL,8
43,5,1,6,3,2,2,488,506,429,27,89.912384,interviewsinhyderabad.blogspot.in,375,342,interviewsinhyderabad.blogspot.in,WEB,9
44,5,1,6,3,3,1,44,539,472,25,87.967415,"facebook.com/lictsrikant8099948528,",411,376,facebook.com/lictsrikant8099948528,WEB,9

In [28]:
# Lesson 45 Bounding box
# right and bottom bounding box
bb_df[['left', 'top','width', 'height']] = bb_df[['left', 'top', 'width', 'height']].astype(int)
bb_df['right'] = bb_df['left'] + bb_df['width']
bb_df['bottom'] = bb_df['top'] + bb_df['height']

In [29]:
#tagging: groupby group
col_group = ['left', 'top', 'right', 'bottom', 'label', 'token', 'group']
group_tag_img = bb_df[col_group].groupby(by='group')

In [30]:
img_tagging = group_tag_img.agg({
        'left':min,
        'right':max,
        'top':min,
        'bottom':max,
        'label': np.unique,
        'token':lambda x: " ".join(x)
        })

In [31]:
img_tagging

,left,right,top,bottom,label,token
group,,,,,,
1,822,1025,53,123,[PHONE],8099948528 8466045457
2,709,1025,136,167,[EMAIL],lictsrikant@gmail.com
3,46,374,151,193,[ORG],life insurance corporation of india
4,668,1025,165,209,[EMAIL],seosrika ntht@gmail com
5,310,755,227,259,[NAME],thathineni srikanth
6,399,669,271,296,[DES],insurance advisor
7,47,882,395,427,[ORG],life insurance corporation of india
8,46,476,506,533,[EMAIL],lictsrikant8099948528.blogspot.in
9,44,917,506,564,[WEB],interviewsinhyderabad.blogspot.in facebook.com...

In [32]:
# отметить все распознанные тэги на картинке для иллюстрации
img_bb = image.copy()

for l,r,t,b,label,token in img_tagging.values:
    cv2.rectangle(img_bb,(l,t), (r,b), (0,255,0), 2)
    cv2.putText(img_bb,str(label[0]),(l,t), cv2.FONT_HERSHEY_PLAIN, 1, (255,0,255),2)

cv2.imshow('Bounding Box BusinessCard', img_bb)
cv2.waitKey(0)
cv2.destroyAllWindows()

Parser

In [33]:
def parser(text, label):
    if label =='PHONE':
        text = text.lower()
        text = re.sub(r'\D', '', text)
    elif label == 'EMAIL':
        text = text.lower()
        allow_special_characters = '@_.\-'
        text = re.sub(r'[^A-Za-z10-9{} ]'.format(allow_special_characters), '', text)
    elif label == 'WEB':
        text = text.lower()
        allow_special_characters = ':/.%#\-'
        text = re.sub(r'[^A-Za-z10-9{} ]'.format(allow_special_characters), '', text)
    elif label in ('NAME', 'DES'):
        text = text.lower()
        text = re.sub(r'[^a-z ]', '', text)
        text = text.title()
    elif label == 'ORG':
        text = text.lower()
        text = re.sub(r'[^a-z0-9 ]', '', text)
        text = text.title()
    return text

In [66]:
info_array = dataframe_info[['token', 'label']].values
entities = dict(NAME=[], ORG=[], DES=[], PHONE=[], EMAIL=[], WEB=[])
previous = 'O'

for token, label in info_array:
    bio_tag = label[:1]
    label_tag = label[2:]
    # parse the token
    text = parser(token, label_tag)
    
    if bio_tag in ('B', 'I'):
        if previous !=label_tag:
            entities[label_tag].append(text)
        else:
            if bio_tag == "B":
                entities[label_tag].append(text)
            else:
                if label_tag in ("NAME", "ORG", "DES"):
                    entities[label_tag][-1] = entities[label_tag][-1]+" "+text
                else:
                    entities[label_tag][-1] = entities[label_tag][-1]+text
    previous = label_tag

O
B PHONE
O
B PHONE
O
B EMAIL
B ORG
I ORG
I ORG
I ORG
I ORG
B EMAIL
I EMAIL
I EMAIL
B NAME
I NAME
B DES
I DES
O
O
O
O
B ORG
I ORG
I ORG
I ORG
I ORG
O
O
O
O
O
O
O
O
O
O
O
O
O
O
O
I EMAIL
B WEB
B WEB
O
O
O
O
O
O

In [45]:
entities

{'NAME': ['Thathineni Srikanth'],
 'ORG': ['Life Insurance Corporation Of India',
  'Life Insurance Corporation Of India'],
 'DES': ['Insurance Advisor'],
 'PHONE': ['8099948528', '8466045457'],
 'EMAIL': ['lictsrikant@gmail.com',
  'seosrikantht@gmailcom',
  'lictsrikant8099948528.blogspot.in'],
 'WEB': ['interviewsinhyderabad.blogspot.in',
  'facebook.com/lictsrikant8099948528']}