In [23]:
import pandas as pd
columns = ['1','2','3','4','5','6','7','8','9']
multi_dict = {}

for i in columns:
    multi_dict[i] = [int(i)*j for j in range(1,10)]

df =pd.DataFrame(data = multi_dict)
df

   1   2   3   4   5   6   7   8   9
0  1   2   3   4   5   6   7   8   9
1  2   4   6   8  10  12  14  16  18
2  3   6   9  12  15  18  21  24  27
3  4   8  12  16  20  24  28  32  36
4  5  10  15  20  25  30  35  40  45
5  6  12  18  24  30  36  42  48  54
6  7  14  21  28  35  42  49  56  63
7  8  16  24  32  40  48  56  64  72
8  9  18  27  36  45  54  63  72  81